.add-project-header{
    width: 100%;
    background-color: #9de4e4;
    border-bottom: 2px solid black;
    margin-top: 0;
    color: whitesmoke;
    font-weight: bold;
    padding: 1%;
    text-align: center;
}

.project-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    font-size: large;
}

#projectDescription{
    resize: none;
}

#startDate-label{
    margin:auto;
}

#startDate{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

form input,
form textarea{
    margin-bottom: 2%;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

form input:focus,
form textarea:focus{
    outline: none;
    box-shadow: 0 0 7px #3aa6f3;
}

.add-project-button{
    color: whitesmoke;
    background-color: teal;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 20px;
}

.add-project-button:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 0.2s;
}

.add-project-button .glyphicon-ok{
    padding-right: 5%;
    font-size: xx-large;
}