    <h2 class='add-project-header'>Add New Project</h2>
    <form [formGroup]="addProjectForm" class='project-form'>
        <label for="projectName">Project Name:</label>
        <input type="text" name="projectName" id="projectName" formControlName="projectName">
        <div *ngIf="addProjectForm.controls['projectName'].invalid&&addProjectForm.controls['projectName'].touched"
        class='error-message'>Project name cannot be empty</div>
        <label for="projectDescription">Project Description:</label>
        <textarea name="projectDescription" id="projectDescription" cols="30" rows="5" formControlName="projectDescription"></textarea>
        <div *ngIf="addProjectForm.controls['projectDescription'].invalid&&addProjectForm.controls['projectDescription'].touched"
        class='error-message'>Project description cannot be empty</div>
        <label for="startDate" id='startDate-label'>Project Start Date : </label>
        <input type="date" name="startDate" id="startDate" formControlName="startDate">
        <div *ngIf="addProjectForm.controls['startDate'].value==''&&addProjectForm.controls['startDate'].touched"
        class='error-message'>Project start date cannot be empty!</div>
        <div *ngIf="addProjectForm.controls['startDate'].errors?.incorrectDate&&addProjectForm.controls['startDate'].touched"
        class='error-message'>
            {{addProjectForm.controls['startDate'].errors?.incorrectDate}}
        </div>
        <div (click)="submitProject()" class='add-project-button'><span class="glyphicon glyphicon-ok"></span><span>Add Project</span></div>
        <app-operation-successful></app-operation-successful>
    </form>
        <app-loading-bar></app-loading-bar>
