<div class='wrapper'>
    <h2 class='change-roles-header'>Change employee roles on current project</h2>

    <form [formGroup]="findEmployeesForm" class="find-employee-subform">
        <div class="input-wrapper">
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" id="firstName" formControlName="firstName">
        </div>
        <div class="input-wrapper">
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" id="lastName" formControlName="lastName">
        </div>
    </form>
    
    <div *ngIf="findEmployeesForm.controls['firstName'].invalid&&findEmployeesForm.controls['firstName'].touched"
    class="error-message">First Name field cannot be empty!</div>
    <div *ngIf="findEmployeesForm.controls['lastName'].invalid&&findEmployeesForm.controls['lastName'].touched"
    class="error-message">Last Name field cannot be empty!</div>

        <input type="button" value="Find employees" (click)="findEmployees()" class="find-employees-button">

    <div id="search-results" (click)="getEmployeeId($event)">
        <app-employee-with-position-card *ngFor="let employee of employees" [employee]="employee" id="{{employee.id}}"></app-employee-with-position-card>
    </div>
    <form>

        <label for="role" class='role-label'>Available Roles:</label>
        <select name="selectRole" id="selectRole" (change)="onRoleSelect()">
            <option value="" selected disabled hidden>Choose new role</option>
            <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
        </select>
    </form>

    <form [formGroup]="findPositionForm" *ngIf="isEmployeeRole==true" class="positions-form">
        <label for="findPosition">Find Position:</label>
        <input type="text" name="findPosition" id="findPosition" formControlName="findPosition">
        <input type="button" value="Find Positions" (click)="findPositions()" class="find-positions-button">
        <div class='found-positions'>
            <label for="position">Positions : </label>
            <select name="selectPosition" id="selectPosition">
                <option selected disabled hidden value="">Select Position</option>
                <option *ngFor="let position of positions" value="{{position.positionId}}">{{position.positionName}}</option>
            </select>
        </div>
    </form>
    <div *ngIf="findPositionForm.controls['findPosition'].invalid&&findPositionForm.controls['findPosition'].touched" 
    class="error-message">Position field cannot be empty</div>
    <div id='no-selected-employee-error' class='error-message'>Please, select an employee</div>
    <div id='no-selected-role-error' class='error-message'>Please, select a role to assign to employee</div>
    <div id='no-selected-position-error' class='error-message'>Please, select a position to assign to employee</div>

    <input type="submit" value="Submit changes" (click)="submitChanges()" class="submit-changes-button">
</div>
<app-loading-bar></app-loading-bar>
<app-operation-successful></app-operation-successful>
