.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

.change-roles-header{
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    width: 100%;
    background-color: #3af3f3;
    margin-top: 0;
    padding: 1%;
    border-radius: 8px 8px 0 0;
}

.find-employee-subform{
    margin-top: auto;
}

.find-employees-button{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #3ead65;
    padding:1%;
    border-radius: 15px;
    border: 2px solid green;
    color: whitesmoke;
}

.find-employees-button:hover{
    background-color: green;
}

.find-positions-button{
    background-color: #3ead65;
    border-radius: 15px;
    border: 2px solid green;
    color: whitesmoke;
}

.find-positions-button:hover{
    background-color: green;
}


.role-label{
    padding-right: 15px;
}

.submit-changes-button{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #3871c7;
    color: whitesmoke;
    padding: 1%;
    font-size: x-large;
    border-radius: 25px;
    border: 2px solid #2859a3;
}

.submit-changes-button:hover{
    background-color: #2859a3;
}

.found-positions{
    display: none;
    margin-left: 1%;
}

.positions-form{
    margin-top: 2%;
    width:50%;
    display: flex;
    height: min-content;
}

#findPosition{
    margin-right: 1%
}

#no-selected-employee-error{
    display: none;
}

#no-selected-role-error{
    display: none;
}

#no-selected-position-error{
    display: none;
}


form input[type='text']{
    border:none;
    border-radius: 5px;
}

form input[type='text']:focus{
    outline: none;
    border: 1px solid #9bf6f6;
    box-shadow: 0 0 7px #9bf6f6;
}

