<div class="project-info">
    <p class="start-date">Project Start Date : {{projectWithTasks.startDate | date : 'shortDate'}}</p>
    <h2 class='project-name'>{{projectWithTasks.projectName}}</h2>
    <app-progress-bar [completionPercentage]="projectWithTasks.percentageOfCompletion" class='progress-bar'></app-progress-bar>
    <h3 class='description-header'>Project Description:</h3>
    <p class='project-description'>{{projectWithTasks.projectDescription}}</p>
    <h3 class='tasks-header'>Tasks</h3>
</div>
<div class="assignments-container">
    <app-assignment *ngFor="let task of projectWithTasks.assignments" [assignment]="task"></app-assignment>
</div>
<div>

</div>