.operation-successful-wrapper{
    display: none;
  }
  
  .operation-successful{
    width: 50%;
    height: 8%;
    border: 2px solid green;
    padding: 1%;
    background-color: lightgreen;
    color: green;
    font-weight: bold;
    left: -100%;
    position: absolute;
    animation: slide-in 1.5s ease-in forwards;
    animation-iteration-count: 1;
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .operation-successful .glyphicon-ok-sign{
    padding-right: 20px;
    font-size: 5vh;
  }
  
  @keyframes slide-in {
  
    100%{
      left: 25%;
    }
  }