<div class="auth-outer">
    <div class="auth-inner">
        <h1>Welcome! Please, log in to the system</h1>
        <form [formGroup]="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" formControlName="Username">
            <div class="error-message" *ngIf="loginForm.controls['Username'].invalid && loginForm.controls['Username'].touched">Username cannot be empty</div>
            <label for="password">Password:</label>

            <input [type]="show ? 'text' : 'password'" id="password" formControlName="Password">
            <div>
                <label for="show-password">Show password</label>
                <input type="checkbox" id="show-password" (click)="toggleShowPassword()">   
            </div>
            <div class="error-message" *ngIf="loginForm.controls['Password'].invalid && loginForm.controls['Password'].touched">Password cannot be empty</div>
            <input type="submit" id="submit" value="Submit" (click)="submit()">
            <div class="error-message response-error"></div>
        </form>
        <div id="no-account-button"><a routerLink="/register">I do not have an account</a></div>
    </div>
        <div class="loading-spinner"></div>
</div>
