#login-container{
    margin: auto;
    border: 4px solid lightskyblue;
    border-radius: 10px;
    display: flex;
    width: 60%;
    flex-direction: column;
    text-align: center;
    background-color: #b7dcff;
    outline: none;
    box-shadow: 0 0 20px lightskyblue;
}

.auth-outer{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Urbanist;
    font-size: large;
}

form{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

form input{
    padding: 5px;
    margin-bottom: 2%;
}

form input[type='text']{
    font-family: Urbanist;
    font-size: large;
}

form input[type='password']{
    font: small-caption;
    font-family: caption;
    font-size: large;
}

form input[type='text'],
form input[type='password']{
    border: none;
    border-radius: 5px;
}


form input[type='text']:focus,
form input[type='password']:focus{
    outline: none;
    border: 2px solid #5eaffb;
}

form input[type='submit']{
    width: 30%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #5effc8;
    font-family: Urbanist;
    font-size: large;
    font-weight:900;
    border: 1px solid #5effc8;
    border-radius: 25px;
    outline: none;
}

form input[type='submit']:hover:enabled{
    background-color: #00e798;
    border: 1px solid #00e798;
    color: white
}

#no-account-button{
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 5px;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    background-color: #7fc1ff;
    display: inline;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to left, #7fc1ff 50%, #2b93f4 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

#no-account-button a{
    padding: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#no-account-button:hover{
    background-position: left;
}
