.progress-bar-outer{
    min-width: 0%;
    max-width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}

.progress-bar-inner{
    background-color: #1a9b00;
    height: 100%;
    border-radius: 7px 0px 0px 7px;
    border: none;
}

.percentage{
    color: green;
    margin-bottom: 0;
    border: none;
    font-size: large;
}