#info-bar{
    text-align: center;
    display: grid;
    grid-template-columns: 40% 30% 40%;
    grid-template-columns: minmax(0,40%) minmax(0,30%) minmax(0,40%);
    grid-template-rows: auto;
}

#info-bar h1{
    color: white;
    font-weight: bold;
    grid-row: 1/2;
    grid-column: 2/3;
}

.switch-to-another-role-button{
    grid-row: 1/2;
    grid-column: 3/4;
    margin: auto;
}

.switch-to-another-role-button:hover{
    cursor: pointer;
}

.add-new-project-button{
    text-align: center;
    grid-row:1/2;
    grid-column: 1/2;
    background-color: #70f569;
    width: 35%;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 5px;
    color: white;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
}

.add-new-project-button .glyphicon-plus-sign{
    font-size: 5vh;
}
