<div id="info-bar">
    <h1>Projects</h1>
    <a routerLink="../newProject" *ngIf="currentUserRole==='admin'" class='add-new-project-button'>            
        <span class="glyphicon glyphicon-plus-sign"></span><span>Add New Project</span>        
    </a>
    <app-confirm-project-deletion-modal *ngIf="currentUserRole==='admin'" 
    [project]='selectedProjectForDeletion'
    (closeModal)="closeConfirmDeletionModal()"></app-confirm-project-deletion-modal>
    <app-switch-to-another-role [currentUserRole]="currentUserRole" [allUserRoles]="availableUserRoles" class='switch-to-another-role-button'></app-switch-to-another-role>
</div>
<div id="projects-container">
    <app-project-card *ngFor = "let project of projects" [project]="project" [userRole]="currentUserRole"
    (selectProject)="getProjectForDeletion($event)"></app-project-card>
</div>
<div id="pages">

</div>
