<div class='employee-card' id='{{employee.id}}'>
    <p class='employee-name'>{{employee.firstName}} {{employee.lastName}}</p>
    <p class='employee-email'>Email : {{employee.email}}</p>
    <p class='employee-position'>Position : {{employee.position}}</p>
    <p class='employee-role'>Role : {{employee.role}}</p>
</div>