<div id="switch-to-role-container" *ngIf="rolesAvailableForSwitch.length>0">
    <div class="switch-to-role-button" (click)="toggleShowRolesToSwitch()" [ngClass]="{'switch-to-role-button-activated':showRolesToSwitch}">
        <span class="glyphicon glyphicon-user"></span>
        Switch to Another Role
    </div>
    <div id="roles-to-switch" *ngIf="showRolesToSwitch">
        <a *ngFor="let role of rolesAvailableForSwitch" routerLink="../../{{role}}/projects">
            Switch to {{role}}
        </a>
    </div>
</div>