#switch-to-role-container{
    position: relative;
    color: white;
    font-size: large;
}

#roles-to-switch{
    position: absolute;
    z-index: 1;    
    background-color: white;
    width: 100%;
}

#roles-to-switch a{
    border-bottom: 1px solid black;
    display: block;
    text-decoration: none;
}

#roles-to-switch a:hover{
    color: black;
    font-weight: bold;
}

.switch-to-role-button{
    background-color: #8e7bed;
    padding: 8px;
    border-radius: 12px;
}

.switch-to-role-button-activated{
    border-radius: 12px 12px 0 0;
}

.switch-to-role-button span{
    padding-right: 5px;
}