
<div id="main-container">
    <div id="upper-bar">

            <a routerLink="/login" (click)="deleteToken()" id="log-out-button">
            <span class="glyphicon glyphicon-log-out"></span>
            Log out
            </a>
        <img src="../../../assets/images/logo.png" alt="logo_image">
        <h1>Company Name</h1>
    </div>
    <div id="working-space">
        <router-outlet></router-outlet>    
    </div>
</div>