#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Urbanist;
}

#upper-bar{
    width: 100%;
    height: 20%;
    display: flex;
    text-align: center;
    background-color: #90cefa;
}

#upper-bar h1{
    font-family: Staatliches;
    margin-right: auto;
    
}

#working-space{
    width: 80%;
    height: 60%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 2%;
}

#log-out-button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 15%;
    font-size: xx-large;
    text-align: center;
    background-color: lightgray;
    color: white;
    text-decoration: none;
}

#log-out-button:hover{
    background-color: #878788;
}

#log-out-button span{
    padding-right: 10%;
}

#working-space{
    background-color: #bbdcff;
    border: 2px solid lightblue;
    box-shadow: 0 0 10px lightblue;
}

img{
    margin-left: 30%;
    width: 5%;
    height: 5%;
}
