#wrapping-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#status-code{
    text-align: center;
    animation: float 2s infinite ease-in-out;
    font-weight: bold;
    color: #599bf1;

}

.four-o-four{
    margin: 0;
    font-size: 12vh;
}

.page-not-found{
    font-size: x-large;
}

.apologize{
    font-size: large;
    padding-left: 2%;

}

@keyframes float {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-30px);
    }

    100%{
        transform: translateY(0px);
    }
}