<div id='wrapping-container'>
    <div id="status-code">
        <h1 class='four-o-four'>404</h1>
        <p class='page-not-found'>Page Not Found</p>
    </div>
    <p class='apologize'>We are sorry, but it seems like the page that you are trying to access doesn't exist</p>
</div>
