<div class="project">
    <p class='project-name'><span class='descriptive-name'>Project :</span> {{project.projectName}}</p>
    <p class='project-position'><span class='descriptive-name'>Current Position on Project : <br></span>{{project.currentEmployeePosition}}</p>
    <app-progress-bar [completionPercentage]="project.completionPercentage" class='progress-bar'></app-progress-bar>
    <a [routerLink]="['../proj',project.projectId,'0']" class="see-details-button"><span class="glyphicon glyphicon-circle-arrow-right"></span><span>See Details</span></a>
    <p *ngIf="userRole=='admin'" (click)="returnProjectForDeletion()" class='delete-project-button'>X</p>
</div>