.project{
    width: 90%;
    height: 20%;
    border: 4px solid #c2c2c2;
    border-radius: 15px;
    background-color: #dee2e2;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    display: grid;
    grid-template-rows: 30% 30% 40%/*repeat(3, minmax(0,33.33%))*/;
    grid-template-columns: 30% 40% 30%;
    grid-template-columns: minmax(0,30%) minmax(0,40%) minmax(0,30%);
    margin-bottom: 0.5%;
}

.see-details-button{
    height: 10%;
    width: 10%;
    background-color: lightgreen;
}

.descriptive-name{
    font-weight: lighter;
    font-style: italic;
    color: #6c6c6c;
}

.project-name{
    grid-row: 1/2;
    grid-column: 1/2;
    padding-left: 5%;
}

.project-position{
    grid-row: 2/3;
    grid-column: 1/2;
    white-space: pre-line;
    padding-left: 5%;
}

.progress-bar{
    grid-row: 3/4;
    grid-column: 2/3;
    width: 90%;
    height: 50%;
    background-color: inherit;
}

.see-details-button{
    grid-row: 2/3;
    grid-column: 3/4;
    background-color: #4591db;
    height: 100%;
    width: 60%;
    text-align: center;
    border-radius: 5px;
    color: #e9ece8;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.see-details-button span{
    padding-top: 2%;
    padding-right: 5%;
}

.see-details-button:hover{
    background-color: #1273d1;
}

.delete-project-button{
    grid-row: 1/2;
    grid-column: 3/4;
    color: red;
    margin-left: auto;
    margin-right: 5%;
    font-weight: bold;
    font-size: xx-large;
}

.delete-project-button:hover{
    cursor: pointer;
    color: black;
}