<div class="employee-card" id="{{employee.id}}">
    <p class='employee-name'>{{employee.firstName}} {{employee.lastName}}</p>
    <p class='employee-username'>Username : {{employee.userName}}</p>
    <p class='employee-email'>Email : {{employee.email}}</p>
</div>