.modal-outer{
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-inner{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

#yes-button{
    background-color: lightgreen;
    border: 2px solid green;
    margin-right: 5%;
}

#yes-button:hover{
    background-color: green;
}

#no-button{
    background-color: lightcoral;
    border: 2px solid red;
}

#no-button:hover{
    background-color: red;
}

.btn-choice{
    width: 10%;
    height: 5vh;
    color: white;
    font-size: x-large;
    margin-top: 3%;
}