<div class='modal-outer' (click)="closeThisModal($event)">
    <div class='modal-inner'>
        <h2>Are you sure that you want to delete project {{project?.projectName}}?</h2>
    
        <input type="button" value="Yes" (click)="deleteProject()" class='btn-choice' id='yes-button'>
        <input type="button" value="No" (click)="closeModalWithButton()" class='btn-choice' id='no-button'>
    </div>
</div>


