.auth-outer{
    height: 80vh !important;
}


form input[type='text'],
form input[type='email'],
form input[type='email']{
    text-align: center;
}


form input[type='email']{
    font-family: Urbanist;
    font-size: large;
}

form input[type='email']{
    border: none;
    border-radius: 5px;
}


form input[type='email']:focus{
    outline: none;
    border: 2px solid #5eaffb;
}