<div class="auth-outer">
    <div class="auth-inner">
        <h1>Please, fill in all the fields</h1>
        <form [formGroup]="registerForm">
            <label for="firstName">First name:</label>
            <input type="text" name="firstName" id="firstName" formControlName = "FirstName">
            <div class="error-message" *ngIf="registerForm.controls['FirstName'].invalid && registerForm.controls['FirstName'].touched">Enter your first name</div>
            <label for="lastName">Last name:</label>
            <input type="text" name="lastName" id="lastName" formControlName = "LastName">
            <div class="error-message" *ngIf="registerForm.controls['LastName'].invalid && registerForm.controls['LastName'].touched">Enter your last name</div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" formControlName = "Email">
            <div class="error-message" *ngIf="registerForm.controls['Email'].invalid && registerForm.controls['Email'].touched">Incorrect email</div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" formControlName = "Username">
            <div class="error-message" *ngIf="registerForm.controls['Username'].invalid && registerForm.controls['Username'].touched">Incorect username</div>
            <label for="password">Password:</label>
            <input type="text" name="password" id="password" formControlName = "Password">
            <input type="submit" id="submit" value="Register" (click)="submit()">
            <div class="error-message response-error"></div>
        </form>            

    </div>
    <div class="loading-spinner"></div>
</div>


