.loading-bar-outer{
    background-color: #74b9f4;
    width: 100%;
  }
  
  .loading-bar-inner{
    background-color: #0f44a0;
    height: 20px;
    width: 20%;
    position: relative;
    animation: loading 1.5s infinite ease-in-out;
  }
  
  .loading-bar-wrapper{
    font-size: x-large;
    font-weight: bold;
    text-align:center;
    width:50%;
    display: none;
    margin-left: auto;
    margin-right: auto;
  }

  .loading-bar-wrapper h3{
      font-weight: bold;
  }
  
  @keyframes loading{
    0%{
      left: 0%;
      width: 10%;
    }
    
    25%{
      width: 20%;
    }
    
    50%{
      left: 90%;
      width: 10%;
    }
    
    75%{
      width: 20%;
    }
    
    100%{
      left: 0;
      width: 10%;
    }
  }