<div class="project-info">

    <h2 class='project-name'>{{projectWithTasks.projectName}}</h2>
    <app-progress-bar [completionPercentage]="projectWithTasks.percentageOfCompletion" class='progress-bar'></app-progress-bar>
    <p class="start-date">Project Start Date : {{projectWithTasks.startDate | date : 'shortDate'}}</p>
    <h3 class='description-header'>Project Description:</h3>
    <p class='project-description'>{{projectWithTasks.projectDescription}}</p>
    <div class='operation-panel'>
        <a routerLink="../../changeRoles" [state]="{projectId : projectWithTasks.projectId}" class='change-employee-roles-button operation'>
            <span class="glyphicon glyphicon-pencil"></span><span>Change employee roles</span></a>
    </div>
    <h3 class='tasks-header'>Tasks</h3>

</div>
<div id="assignment-container">
    <app-manager-assignment *ngFor="let task of projectWithTasks.assignments" [assignment]="task"></app-manager-assignment>
</div>
<div>

</div>