.operation-panel{
    grid-row: 5/6;
    grid-column: 1/4;
    margin-top: 10px;
}

.operation{
    max-width: 20%;
}

.change-employee-roles-button{
    background-color: orange;
    color: whitesmoke;
    height: 20%;
    font-size: x-large;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.change-employee-roles-button .glyphicon-pencil{
    padding-right: 10px;
}
