<div class="project-info">

    <app-assign-employee-to-project *ngIf="isAssignEmpToProjVisible==true" 
    (closeEvent)="removeAssignEmployeeToProjectModal()"
    [projectId]="projectWithTasks.projectId"></app-assign-employee-to-project>
    <h2 class='project-name'>{{projectWithTasks.projectName}}</h2>
    <app-progress-bar [completionPercentage]="projectWithTasks.percentageOfCompletion" class='progress-bar'></app-progress-bar>
    <p class="start-date">Project Start Date : {{projectWithTasks.startDate | date : 'shortDate'}}</p>
    <h3 class='description-header'>Project Description:</h3>
    <p class='project-description'>{{projectWithTasks.projectDescription}}</p>
    <div class='operation-panel'>
        <div class='assign-new-employee-button operation' (click)="showAssignEmployeeToProjectModal()">
            <span class="glyphicon glyphicon-briefcase"></span>
            <span>Assign new employee</span>
        </div>
    </div>
    <h3 class='tasks-header'>Tasks</h3>

</div>
<div class="assignments-container">


    <app-manager-assignment *ngFor="let task of projectWithTasks.assignments" [assignment]="task"></app-manager-assignment>
    
    <div class='issue-new-task-container'>
        <a [routerLink]="['../../newTask']" [state]="{projId : projectWithTasks.projectId}" class='issue-new-task-button'>
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span>Issue New Task</span>
        </a>
    </div>
</div>
<div>

</div>