.assign-new-employee-button{
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    border: 1px solid black;
    background-color: lightgreen;
    color: white;
    z-index: 1;
    margin: auto;
    font-size: x-large;
}

.operation-panel{
    grid-row: 5/6;
    grid-column: 1/4;
}

.operation{
    width: 20%;
}

.assign-new-employee-button .glyphicon-briefcase{
    font-size: xx-large;
}
.assign-new-employee-button:hover{
    background-color: darkgreen;
}

.issue-new-task-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.issue-new-task-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #1a6bb7;
    font-size: x-large;
    padding: 5px;
    text-decoration: none;
}

.issue-new-task-button .glyphicon-plus-sign{
    font-size: xx-large;
    padding-right: 10px;
}

#modal{
    display: none;
}