.loading-spinner{
    width:50px;
    height: 50px;
    border: 4px solid lightblue;
    border-radius: 50%;
    border-top-color: steelblue;
    animation: loading 0.7s linear infinite;
    display: none;
}

@keyframes loading {
    to{
        transform: rotate(360deg);
    }
}