/* You can add global styles to this file, and also import other style files */
html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Urbanist;
    src: url(assets/fonts/Urbanist/Urbanist-Regular.ttf);
}

@font-face {
    font-family: Urbanist;
    src: url(assets/fonts/Urbanist/Urbanist-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Staatliches;
    src: url(assets/fonts/Staatliches-Regular.ttf);
}

.error-message{
    background-color: #ff7777;
    border: 2px solid #fe5d5d;
    border-radius: 3px;
    color: #9a3333;
    padding: 10px;
    margin: 10px;
}

.response-error{
    display: none;
}