.modal-outer{
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-inner{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.outer-cell{
    width: 80%;
    border: 2px solid lightblue;
    padding: 0 5% 1% 5%;
    box-shadow: 0 0 10px lightblue;
    background-color: #aff0e8;
}

div.find-employee-subform{
    width: 100%;
    margin-bottom: 10px;
}

#position-search-subform{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15px;
}

#find-positions-button{
    max-height: 4vh;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #4fea87;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: large;
    text-align: center;
}

#find-employees-button{
    background-color: #4fea87;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
}

#assign-employee-button{
    background-color: #3f8ffe;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    margin-top:5%;
}

#found-options{
    align-self: flex-end;
}

#position-name-label{
    float: left;
    display: block;
}

#employee-not-selected-error{
    display: none;
}

#position-not-selected-error{
    display: none;
}

#found-positions{
    display: none;
}

#add-employee-header{
    background-color: #59d2c2;
    border-radius: 10px;
    padding: 15px;
    color: white;
}

#search-results{
    min-width: 80%;
    margin: auto;
}