<div class="modal-outer" (click)="close($event)">
    <div class="modal-inner">
        <div class='outer-cell'>

        <h1 id='add-employee-header'>Add employee to project</h1>
        <form [formGroup]="findEmployeesForm">

        <div class='find-employee-subform'>
            <div class='input-wrapper'>
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName" formControlName="firstName">     
            </div>
            
           <div class='input-wrapper'>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" formControlName="lastName">
           </div>
        </div>            
           
            <div *ngIf="findEmployeesForm.controls['lastName'].invalid&&findEmployeesForm.controls['lastName'].touched"
            class='error-message'>Last Name field cannot be empty!</div>
            <div *ngIf="findEmployeesForm.controls['firstName'].invalid&&findEmployeesForm.controls['firstName'].touched"
            class='error-message'>First Name field cannot be empty!</div>
            <input type="submit" value="Find employees" (click)="findEmployees()" id='find-employees-button'>
        </form>
        
        <div id="search-results" (click)="getEmployeeId($event)">
            <app-employee-card *ngFor="let employee of employees" [employee]="employee" id="{{employee.id}}"></app-employee-card>
        </div>

        <form [formGroup]='findPositionForm' id="position-search-subform">
            <label for="positionName" id='position-name-label'>Position Name : </label>


            <input type="text" name="positionName" id="positionName" formControlName="positionName">
            <input type="submit" value="Find positions" (click)="findPositions()" id='find-positions-button'>

            <select name="found-positions" id="found-positions" size="4" (click)="getPositionId($event)">
                <option *ngFor="let position of positions" value="{{position.positionId}}">{{position.positionName}}</option>
            </select>
 

        </form>
        <div *ngIf="findPositionForm.controls['positionName'].invalid&&findPositionForm.controls['positionName'].touched"
        class='error-message'>'Position Name' field cannot be empty!</div>
        <div id="employee-not-selected-error" class='error-message'>Please, select an employee to proceed</div>
        <div id='position-not-selected-error' class='error-message'>Please, select position to assign to employee</div>
        <input type="button" value="Assign employee" (click)="assignEmployee()" id='assign-employee-button'>
            </div>

    </div>
</div>
<app-loading-bar></app-loading-bar>
<app-operation-successful></app-operation-successful>