<div class='assignment'>
    <p class='assignment-name'>{{assignment.assignmentName}}</p>
    <p class='assignment-description'>{{assignment.assignmentDescription}}</p>
    <div class="assignment-status">
        <span>Status :</span>
        <form [formGroup]="statusUpdateForm">
            <input list="statuses" placeholder="{{assignment.assignmentStatus}}" formControlName="newStatus" 
            (focus)="clearStatusField()" (focusout)="assignOriginalStatus()" class='{{assignmentClassDefiner.getClass(assignment.assignmentStatus)}}'
            [ngClass]="{'changed-assignment':assignmentChanged}">
            <datalist id="statuses">
                <option value="In progress"></option>
                <option value="Done"></option>
            </datalist>
            <input type="submit" value="Update status" class='submit-status' 
            *ngIf="statusUpdateForm.controls['newStatus'].value!==assignment.assignmentStatus&&statusUpdateForm.controls['newStatus'].value!==''"
            (click)="submit()">
        </form>
    </div>
    <p class='assignment-deadline'>Deadline : {{assignment.deadline | date : 'shortDate'}}</p>
</div>
