.assignment-done{
    background-color: lightgreen;
    color: white
}

span.assignment-done{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.assignment-in-progress{
    background-color: #e4ca51;
    color: black;
}

span.assignment-in-progress{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.changed-assignment{
    background-color: white;
    color: black;
}

.assignment-new{
    background-color: #30b71a;
    color: white;
}

span.assignment-new{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}