.assignment{
    display: grid;
    grid-template-columns: 36% 27% 36%;
    grid-template-columns: minmax(36%) minmax(27%) minmax(36%);
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #4d698b;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke
}

.assignment-name{
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px solid whitesmoke;
}

.assignment-description{
    grid-row: 2/3;
    grid-column: 1/4;
    font-size: large;
    padding-left: 1%;
    padding-right: 1%;
}

.assignment-deadline{
    grid-row: 1/2;
    grid-column: 3/4;
    font-size: large;
    text-align: center;
}

.assignment-status{
    grid-row: 3/4;
    grid-column: 3/4;
    font-size: large;
    padding: 3px;
}