.employee-card{
    background-color: white;
    color: black;
    display: grid;
    grid-template-rows: repeat(2);
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: 2px solid black;
    border-radius: 12px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.employee-card:hover{
    cursor: pointer;
}

.employee-card-clicked{
    background-color: #3f8ffe;
    font-weight: bold;
    color: white;
}

.employee-name{
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: x-large;
}


.employee-email{
    grid-row: 2/3;
    grid-column: 1/2;
}

.employee-username{
    grid-row: 2/3;
    grid-column: 3/4;
}

