.find-employee-subform{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.input-wrapper{
    width: 45%;
}

#firstName{
    width: 100%;
}

#lastName{
    width: 100%;
}

#search-results{
    width: 50%;
    max-height: 30%;
    background-color: #dddddd;

}

.employee-subform-header{
    font-weight: bold;
}
