.project-info{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-columns: minmax(0,40%) minmax(0,20%) minmax(0,40%);
    text-align: center;
    background-color: #efefef;
}

.project-name{
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: #599bf1;
    margin: 0;
    padding: 1%;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid black;
    color: whitesmoke;
    font-weight: bold;
}

.start-date{
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: x-large;
}

.progress-bar{
    grid-row: 2/3;
    grid-column: 3/4;
    width: 80%;
    height: 50%;
    background-color: transparent;
}

.description-header{
    grid-row:3/4;
    grid-column: 2/3;
    font-weight: bolder;
}

.project-description{
    grid-row: 4/5;
    grid-column: 1/4;
    text-align: left;
    border: 1px solid gray;
    width: 98%;
    background-color: #efefef;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    padding: 5px;
}

.tasks-header{
    grid-row: 6/7;
    grid-column: 1/4;
    background-color: #bfdcff;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bolder;
}

.assignments-container{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}