<div class='issue-new-task-container'>
    <h2 class='issue-task-header'>Issue new task</h2>
    <form [formGroup]="assignmentForm" class='assignment-form'>
        <label for="assignmentName">Assignment name:</label>
        <input type="text" name="assignmentName" id="assignmentName" formControlName="assignmentName">
        <div *ngIf="assignmentForm.controls['assignmentName'].invalid&&assignmentForm.controls['assignmentName'].touched" class='error-message'>Assignment name cannot be empty!</div>
        <label for="assignmentDescription">Assignment description</label>
        <textarea name="assignmentDescription" id="assignmentDescription" rows="5" formControlName="assignmentDescription">
        </textarea>
        <div *ngIf="assignmentForm.controls['assignmentDescription'].invalid&&assignmentForm.controls['assignmentDescription'].touched" class='error-message'>Assignment description cannot be empty!</div>

        <label for="assignmentDeadline">Deadline : </label>
        <input type="date" name="assignmentDeadline" id="assignmentDeadline" formControlName="assignmentDeadline">
        <div *ngIf="assignmentForm.controls['assignmentDeadline'].errors?.incorrectDate && assignmentForm.controls['assignmentDeadline'].touched"
        class='error-message'>Deadline cannot be set to the past date or today's date</div>

        <h2 class='employee-subform-header'>Employee To Issue Task</h2>

        <div class='find-employee-subform'>
            <div class='input-wrapper'>
                <label for="firstName">First Name :</label><br>
                <input type="text" name="firstName" id="firstName" formControlName="employeeFirstName"> 
            </div>
            <div class='input-wrapper'>
                <label for="lastName">Last Name :</label><br>
                <input type="text" name="lastName" id="lastName" formControlName="employeeLastName">
            </div>
        </div>

        <div *ngIf="assignmentForm.controls['employeeFirstName'].invalid&&assignmentForm.controls['employeeFirstName'].touched" class='error-message'>Employee's first name cannot be empty!</div>
        <div *ngIf="assignmentForm.controls['employeeLastName'].invalid&&assignmentForm.controls['employeeLastName'].touched" class='error-message'>Employee's last name cannot be empty!</div>

        <input type="button" value="Find employees" (click)="findEmployees()" id='find-employees-button'>

        <div id="search-results" (click)="getClickedEmployeeId($event)">
            <app-employee-card *ngFor="let employee of employees" [employee]="employee"></app-employee-card>
        </div>
        <div id='employee-not-selected-error'>Please, select an employee from list</div>
        <input type="submit" value="Issue Task" (click)="issueTask()" id='issue-task-button'>
    </form>
</div>
<app-loading-bar></app-loading-bar>
<app-operation-successful></app-operation-successful>