#employee-not-selected-error{
    display: none;
    background-color: lightcoral;
    color: white;
}

.issue-new-task-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.issue-task-header{
    background-color: #2eb9be;
    color: white;
    font-weight: bold;
    width:100%;
    margin: auto;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    margin-bottom: 10px;
}

.assignment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.find-employee-subform{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.input-wrapper{
    width: 45%;
}

#firstName{
    width: 100%;
}

#lastName{
    width: 100%;
}

#assignmentName{
    width: 50%;
}

#assignmentDescription{
    width: 50%;
    resize: none;
}

form input[type='text'],
form textarea{
    margin-bottom: 10px;
}

#search-results{
    width: 50%;
    max-height: 30%;
    background-color: #dddddd;

}

.employee-subform-header{
    font-weight: bold;
}

#find-employees-button{
    background-color: #149abf;
    color: white;
    font-size: x-large;
    padding: 5px;
    outline: none;
    border: 2px solid black;
}

#issue-task-button{
    background-color: #4eefb4;
    color: white;
    font-size: x-large;
    padding: 5px;
    outline: none;
    border: 2px solid black;
}