<div class='assignment'>
    <p class='assignment-name'>{{assignment.assignmentName}}</p>
    <p class='assignment-description'>{{assignment.assignmentDescription}}</p>
    <div class="assignment-status" >
        <span>Status : <span [ngClass]='assignmentClassDefiner.getClass(assignment.assignmentStatus)'>{{assignment.assignmentStatus}}</span></span>
    </div>
    <p class='assignment-deadline'>Deadline : {{assignment.deadline | date : 'shortDate'}}</p>
</div>
